.badge{
    background-color: tomato;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}